<%= form_for @post do |f| %>
    <div class="field">
    <%= f.label :神社名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :所在地 %>
    <%= f.text_field :address, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :コメント  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>
    <%= f.submit "編集する" %>
  <% end %>