<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @post do |f| %>
  <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

  <div class="field">
    <%= f.label :神社名%>
    <%= f.text_field :name, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :所在地 %>
    <%= f.text_field :address, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :コメント  %>
    <%= f.text_area :about, :size => "30x2" %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", posts_path %>