<div class="sign_up">
  <div class="sign_up_box">
    <div class="title_area">
      <div class="title">新規登録</div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
    </div>
    
  <div class="field_area">
  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"field_input",:placeholder=>"名前" %>
  </div>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"field_input",:placeholder=>"Email" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" ,class:"field_input",:placeholder=>"Password"%>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"field_input",:placeholder=>"Password_confirmation" %>
    </div>
  </div>
  
  <div class="submit">
    <div class="actions">
    <%= f.submit "Sign up" ,class:"submit_button"%>
    </div>
  </div>
<% end %>
  </div>
</div>


